body{
       
    background-color: hsl(212, 45%, 89%);
    padding:1rem;
    font-family: "Outfit", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    gap: 2rem;
}

p{
    font-size: 15px;
    
}

/* Reseting*/

/* -  Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;

}

/* Styling for QR Code image*/
img{
    width: 100%;
    border-radius: 20px;
    display: block;
    max-width: 100%;
}

/*Styling of Card*/
.card{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-width:20rem;
    text-align: center;
     
    padding: 30px;  
}

/*Styling of Card content*/
.card-heading{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}

.card-content{
    
    color: hsl(216, 15%, 48%);
}